{:kotoba.app/id "cloud.itonami.emi", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreig3h2imdnrdeetw7zirxbishkfsnak2s5aeseih5vkjqala7ywwia", :kotoba.app/embed-url "ipfs://bafkreig3h2imdnrdeetw7zirxbishkfsnak2s5aeseih5vkjqala7ywwia", :published {:archive "https://kotobase.net/ipfs/bafkreig3h2imdnrdeetw7zirxbishkfsnak2s5aeseih5vkjqala7ywwia", :size 5250, :put-status 201, :get-status 200, :at "2026-08-15T14:05:26.205Z"}}
